{
	"backup_path":"/var/data/backups/",
	"backup_targets":[
		{
			"name":"backup_system",
			"keep":5,
			"backup":[
				{
					"input":"/etc",
					"output":""
				},
				{
					"input":"/bin",
					"output":""
				},
				{
					"input":"/opt",
					"output":""
				},
				{
					"input":"/root",
					"output":""
				},
				{
					"input":"/sbin",
					"output":""
				},
				{
					"input":"/usr",
					"output":""
				},
				{
					"input":"/home",
					"output":""
				},
				{
					"input":"/lib",
					"output":""
				}
			]
		},
                {
			"name":"alex_notebook",
			"keep":5,
			"backup":[
				{
					"input":"root@192.168.0.100:/etc",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/bin",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/opt",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/root",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/sbin",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/usr",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/home",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/lib",
					"output":""
				},
				{
					"input":"root@192.168.0.100:/var",
					"output":""
				}
			]
		},
                {
			"name":"root_server",
			"keep":5,
			"backup":[
				{
					"input":"root@ksxxxxx.kimsufi.com:/etc",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/bin",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/opt",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/root",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/sbin",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/usr",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/home",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/lib",
					"output":""
				},
				{
					"input":"root@ksxxxxx.kimsufi.com:/var",
					"output":""
				}
			]
		},
		{
			"name":"alex_windows_pc",
			"keep":5,
			"backup":[
				{
					"input":"192.168.0.102::M",
					"output":""
				},
				{
					"input":"192.168.0.102::G",
					"output":""
				},
				{
					"input":"192.168.0.102::D",
					"output":""
				},
				{
					"input":"192.168.0.102::F",
					"output":""
				}
			]
		}
	]
}
